<!DOCTYPE html>
<html>
  <head>
		<title>Snacbot Account Creation</title>
		<link rel="stylesheet"
			  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/frontpage.css">
	</head>
	<body>
		<div class="container">
			<form>
				<h2>Snacbot account creation</h2>
        <hr>
				<div class="form-group">
					<input type="text" class="form-control" id="username" placeholder="Username">
				</div>
        <div class="form-group">
					<input type="email" class="form-control" id="email" placeholder="Email">
        </div>
				<div class="form-group">
					<input type="password" class="form-control" id="password" placeholder="Password">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="confirmPassword"
            placeholder="Confirm password">
				</div>
        <button class="btn btn-md btn-primary btn-block" type="submit">Create account</button>
			</form>
		</div>
	</body>
</html>
